## Copyright (c) 2024, 2026, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
# spell-checker:disable

## Ignore everything
**

## Keep the src directory and pyproject.toml file
!src/
!pyproject.toml

## Inside src, ignore specific things
src/**/Dockerfile*
src/**/tests/
src/**/__pycache__/
src/**/.pytest_cache/
src/**/*.egg-info/
src/**/tns_admin/
src/**/.oci/
src/**/.*
src/**/*.sh
src/**/*.log

## But explicitly keep these
!src/client/app/.streamlit
!src/client/source/spring_ai/templates/start.sh
!src/entrypoint.py
