[build-system]
requires = ["setuptools>=61.0.0", "setuptools_scm", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "ai-optimizer"
dynamic = ["version"]
description = "Oracle AI Optimizer and Toolkit"
requires-python = ">=3.11"
license =  "UPL-1.0"
authors = [
    {name = "Oracle", email = "obaas_ww@oracle.com"}
]

# Common dependencies that are always needed
dependencies = [
    "langchain-core==0.3.79",
    "httpx==0.28.1",
    "oracledb~=3.1",
    "plotly==6.3.1",
]

[project.optional-dependencies]
# Server component dependencies
server = [
    "bokeh==3.8.0",
    "evaluate==0.4.6",
    "faiss-cpu==1.12.0",
    "fastapi==0.121.0",
    "fastmcp==2.13.0.2",
    "giskard==2.18.0",
    "langchain-aimlapi==0.1.0",
    "langchain-cohere==0.4.6",
    "langchain-community==0.3.31",
    "langchain-fireworks==0.3.0",
    "langchain-google-genai==2.1.12",
    "langchain-ibm==0.3.19",
    "langchain-mcp-adapters==0.1.11",
    "langchain-mistralai==0.2.12",
    "langchain-nomic==0.1.5",
    "langchain-oci==0.1.5",
    "langchain-ollama==0.3.10",
    "langchain-openai==0.3.35",
    "langchain-together==0.3.1",
    "langgraph==1.0.1",
    "litellm==1.79.1",
    "llama-index==0.14.5",
    "lxml==6.0.2",
    "matplotlib==3.10.7",
    "oci~=2.0",
    "psutil==7.1.3",
    "python-multipart==0.0.20",
    "torch==2.9.0",
    "umap-learn==0.5.9.post2",
    "uvicorn==0.38.0",
]

# GUI component dependencies
client = [
    "streamlit== 1.49.1",
]

# Test dependencies
test = [
    "docker",
    "pylint",
    "pytest",
    "pytest-asyncio",
    "pytest-cov",
    "yamllint"
]

# All-in-one installation (server + client)
all = [
    "ai-optimizer[server]",
    "ai-optimizer[client]",
]

# All-in-one with tests
all-test = [
    "ai-optimizer[server]",
    "ai-optimizer[client]",
    "ai-optimizer[test]",
]

[tool.setuptools]
packages = ["src.server", "src.client", "src.common"]

[tool.setuptools_scm]
root = "."
fallback_version = "0.0.0"