[build-system]
requires = ["setuptools>=80.0.0", "setuptools_scm", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "ai-optimizer"
dynamic = ["version"]
description = "Oracle AI Optimizer and Toolkit"
requires-python = ">=3.11"
license =  "UPL-1.0"
authors = [
    {name = "Oracle", email = "obaas_ww@oracle.com"}
]

# Common dependencies that are always needed
dependencies = [
    "langchain-core==1.2.11",
    "httpx==0.28.1",
    "oracledb~=3.1",
    "plotly==6.5.2",
]

[project.optional-dependencies]
# Server component dependencies
server = [
    "bokeh==3.8.2",
    "evaluate==0.4.6",
    "faiss-cpu==1.13.2",
    "fastapi==0.128.0",
    "fastmcp==2.14.4",
    "giskard==2.18.0",
    #"langchain-aimlapi==0.1.0",
    "langchain-cohere==0.5.0",
    "langchain-community==0.4.1",
    "langchain-fireworks==1.1.0",
    "langchain-google-genai==4.2.0",
    "langchain-ibm==1.0.2",
    "langchain-mcp-adapters==0.2.1",
    "langchain-mistralai==1.1.1",
    "langchain-nomic==1.0.1",
    "langchain-oci==0.2.2",
    "langchain-ollama==1.0.1",
    "langchain-openai==1.1.7",
    #"langchain-together==0.3.1",
    "langgraph==1.0.7",
    "litellm==1.81.4",
    "llama-index==0.14.13",
    "lxml==6.0.2",
    "matplotlib==3.10.8",
    "oci~=2.0",
    "psutil==7.2.1",
    "python-multipart==0.0.20",
    "torch==2.10.0",
    "umap-learn==0.5.11",
    "uvicorn==0.40.0",
]

# GUI component dependencies
client = [
    "streamlit==1.53.1",
]

# Test dependencies
test = [
    "docker",
    "mypy",
    "types-psutil",
    "pandas-stubs",
    "pylint",
    "pytest",
    "pytest-asyncio",
    "pytest-cov",
    "types-jsonschema",
    "yamllint"
]

# All-in-one installation (server + client)
all = [
    "ai-optimizer[server]",
    "ai-optimizer[client]",
]

# All-in-one with tests
all-test = [
    "ai-optimizer[server]",
    "ai-optimizer[client]",
    "ai-optimizer[test]",
]

[tool.setuptools]
packages = ["src.server", "src.client", "src.common"]

[tool.setuptools_scm]
root = "."
fallback_version = "0.0.0"