# Copyright (c) 2024, 2026, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
# spell-checker: disable

global:
  api:
    secretName: "${label}-optimizer-api-key"
  baseUrlPath: "/"

# -- API Server configuration
server:
  image:
    repository: ${repository_base}/ai-optimizer-server
    tag: "latest"
    pullPolicy: Always

  ingress:
    enabled: true
    className: native-ic
    annotations:
      oci-native-ingress.oraclecloud.com/http-listener-port: "80"
      oci-native-ingress.oraclecloud.com/healthcheck-protocol: HTTP
      oci-native-ingress.oraclecloud.com/healthcheck-path: "/ai-optimizer/v1/readiness"

  service:
    type: "NodePort"

  # -- Enable Workload Identity
  oci_config:
    oke: true
    region: "${oci_region}"

  # -- Oracle Database Configuration
  database:
%{ if db_type == "OTHER" ~}
    type: "OTHER"
    other:
      dsn: "${db_dsn}"
%{ else ~}
    type: "ADB-S"
    oci:
      ocid: "${db_ocid}"
%{ endif ~}
    authN:
      secretName: "${db_name}-optimizer-db-authn"
    privAuthN:
      secretName: "${db_name}-db-priv-authn"

client:
  enable: true
  image:
    repository: ${repository_base}/ai-optimizer-client
    tag: "latest"
    pullPolicy: Always

  ingress:
    enabled: true
    className: native-ic
    annotations:
      oci-native-ingress.oraclecloud.com/http-listener-port: "80"
      oci-native-ingress.oraclecloud.com/healthcheck-protocol: HTTP
      oci-native-ingress.oraclecloud.com/healthcheck-path: "/ai-optimizer/ping"

  service:
    type: "NodePort"

  features:
    disableTestbed: "false"
    disableApi: "false"
    disableTools: "false"
    disableDbCfg: "false"
    disableModelCfg: "false"
    disableOciCfg: "false"
    disableSettings: "false"

ollama:
  enabled: ${node_pool_gpu_deploy}
  models:
    enabled: true
    modelPullList:
      - llama3.1
      - mxbai-embed-large
  resources:
    limits:
      nvidia.com/gpu: 1
