# Copyright (c) 2024, 2026, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
# spell-checker: ignore nindent ocid

# AutonomousDatabase Operator Resource (ADB-S)
# Skip creating this resource if using existing ADB secrets (e.g., from obaas chart)
{{- if .Values.server.database }}
{{- if eq (include "server.database.isADBS" .) "true" }}
{{- if ne (include "server.database.useExistingAdbSecrets" .) "true" }}
apiVersion: database.oracle.com/v4
kind: AutonomousDatabase
metadata:
  name: {{ .Release.Name }}-adb-s
  labels:
    app.kubernetes.io/component: database
    {{- include "global.labels" . | nindent 4 }}
spec:
  action: "Sync"
  details:
    id: {{ .Values.server.database.oci.ocid }}
  wallet:
    name: {{ include "server.database.adbTnsAdminSecret" . }}
    password:
      k8sSecret:
        name: {{ include "server.database.adbWalletPassSecret" . }}
  {{- if .Values.server.oci_config }}
  ociConfig:
    configMapName: {{ .Values.server.oci_config.configMapName | default (printf "%s-oci-config" .Release.Name) }}
    {{- if .Values.server.oci_config.keySecretName }}
    secretName: {{ .Values.server.oci_config.keySecretName }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
