## Copyright (c) 2024, 2025, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
# spell-checker: ignore nindent freepdb1

# Database Authentication Secret
{{- if and .Values.server.database .Values.server.database.type }}
{{- include "server.database.validateOtherType" . }}
{{- $secretName := include "server.databaseSecret" . }}
{{- $secret_existing := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- if not $secret_existing }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    app.kubernetes.io/component: database
    {{- include "global.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
stringData:
  {{ default "username" .Values.server.database.authN.usernameKey }}: "AI_OPTIMIZER"
  {{ default "password" .Values.server.database.authN.passwordKey }}: {{ include "server.randomPassword" . | quote }}
  {{- if eq (include "server.database.isSIDB" .) "true" }}
  {{ default "service" .Values.server.database.authN.serviceKey }}: "{{ .Release.Name }}-{{ include "server.database.dbName" . }}-1521:1521/FREEPDB1"
  {{- else if eq (include "server.database.isADBFree" .) "true" }}
  {{ default "service" .Values.server.database.authN.serviceKey }}: "{{ .Release.Name }}-{{ include "server.database.dbName" . }}-1521:1521/FREEPDB1"
  {{- else if eq (include "server.database.isOther" .) "true" }}
    {{- if and .Values.server.database.other.dsn (ne (.Values.server.database.other.dsn | trim) "") }}
  {{ default "service" .Values.server.database.authN.serviceKey }}: "{{ .Values.server.database.other.dsn }}"
    {{- else }}
  {{ default "service" .Values.server.database.authN.serviceKey }}: "{{ .Values.server.database.other.host }}:{{ .Values.server.database.other.port }}/{{ .Values.server.database.other.service_name }}"
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
