## Copyright (c) 2024, 2026, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
# spell-checker: ignore nindent freepdb1

# Database Deployment (SIDB-FREE or ADB-FREE)
{{- if .Values.server.database }}
{{- if eq (include "server.database.isContainerDB" .) "true" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "global.fullname" . }}-{{ include "server.database.dbName" . }}
  labels:
    app.kubernetes.io/component: database
    {{- include "global.labels" . | nindent 4}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: database
      {{- include "global.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.server.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/component: database
        {{- include "global.labels" . | nindent 8 }}
        {{- with .Values.server.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      securityContext:
        fsGroup: 54321
        runAsGroup: 54321
        runAsUser: 54321
      containers:
        - name: db-container
          image: {{ .Values.server.database.image.repository }}:{{ .Values.server.database.image.tag }}
          imagePullPolicy: {{ .Values.server.database.image.pullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: 1521
          readinessProbe:
            tcpSocket:
              port: 1521
            initialDelaySeconds: 60
            periodSeconds: 10
          env:
            {{- include "server.database.authN" . | nindent 12 }}
          {{- if eq (include "server.database.isSIDB" .) "true" }}
            - name: ORACLE_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ include "server.databaseSecret" . }}
                  key: {{ default "password" .Values.server.database.authN.passwordKey }}
          volumeMounts:
            - name: db-init-scripts
              mountPath: "/opt/oracle/scripts/startup"
          {{- else }}
            - name: DATABASE_NAME
              value: FREEPDB1
            - name: ENABLE_ARCHIVE_LOG
              value: "False"
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "server.databasePrivSecret" . }}
                  key: {{ default "password" .Values.server.database.privAuthN.passwordKey }}
            - name: WALLET_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "server.databaseSecret" . }}
                  key: {{ default "password" .Values.server.database.authN.passwordKey }}
          {{- end }}
      {{- if eq (include "server.database.isSIDB" .) "true" }}
      volumes:
        - name: db-init-scripts
          configMap:
            name: {{ include "global.fullname" . }}-db-init
      {{- end }}
{{- end }}
{{- end }}
