## Copyright (c) 2024, 2026, Oracle and/or its affiliates.
## Licensed under the Universal Permissive License v1.0 as shown at http://oss.oracle.com/licenses/upl.
# spell-checker: ignore nindent

# Database Privileged User Secret
{{- if .Values.server.database }}
{{- if .Values.server.database.type }}
{{- $secretName := include "server.databasePrivSecret" . }}
{{- $secret_existing := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- if not $secret_existing }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    app.kubernetes.io/component: database
    {{- include "global.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
stringData:
  username: {{ if eq (include "server.database.isADB" .) "true" }}"ADMIN"{{ else }}"SYSTEM"{{ end }}
  password: {{ include "server.randomPassword" . | quote }}
{{- end }}
{{- end }}
{{- end }}
