##############################################################################
# Python
##############################################################################
__pycache__/

##############################################################################
# Project/User Specific
##############################################################################
tns_admin/**
etc/**

!**/.gitkeep