##############################################################################
# IaC
##############################################################################
**/**.tfvars
**/.terraform*
**/terraform.tfstate*
**/*.pem
**/stage/*.*
**/stage/kubeconfig