@font-face {
    font-family: 'MontserratAlt1-Light';
    src: url('../fonts/MontserratAlt1-Light.woff2') format('woff2'),
         url('../fonts/MontserratAlt1-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}