##############################################################################
# Python
##############################################################################
__pycache__/

##############################################################################
# Server
##############################################################################
server/tns_admin/**
server/etc/**

##############################################################################
# Client
##############################################################################
!client/source/spring_ai/templates/start.sh

##############################################################################
# Project
##############################################################################
.env.*
!.env.example

!**/.gitkeep