# spell-checker: disable
##############################################################################
# Server
##############################################################################
server/tns_admin/**
server/etc/**

##############################################################################
# Project
##############################################################################
.env
.env.*
!.env.example

!**/.gitkeep
