##############################################################################
# Python
##############################################################################
__pycache__/

##############################################################################
# Server
##############################################################################
server/tns_admin/**
server/etc/**

##############################################################################
# Client
##############################################################################

##############################################################################
# Project
##############################################################################
.env.*
!.env.example

!**/.gitkeep