# Workflow for validating Infrastructure as Code
name: Validate Infrastructure as Code

on:
  pull_request:
    types:
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - "tests/**"
      - "opentofu/**"
      - ".github/workflows/opentofu.yml"

  # Allows running this workflow manually
  workflow_dispatch:

jobs:
  verify-iac:
    runs-on: ubuntu-latest
    container:
      image: hashicorp/terraform:latest
    # Block merging if the job fails
    permissions:
      pull-requests: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Initialize Infrastructure as Code
        working-directory: ./opentofu
        run: terraform init -backend=false

      - name: Validate Infrastructure as Code
        working-directory: ./opentofu
        run: terraform validate

      - name: Validate Infrastructure as Code formatting
        working-directory: ./opentofu
        run: terraform fmt -recursive -check

      - name: Install Python & Dependencies
        run: |
          apk add --no-cache python3 py3-pip
          pip3 install --upgrade pip
          pip3 install pyyaml jsonschema referencing

      - name: Validate Oracle Resource Manager Schema
        working-directory: ./tests/opentofu
        run: |
          python3 ./validate_omr_schema.py OMRMetaSchema.yaml ../../opentofu/schema.yaml
